<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<%#= javascript_include_tag "dynamic_div" %>
 <%= javascript_include_tag "tab" %>



  <div id="content">

<%= render @article %>


<div class ="main">
<%#= render @article.comments %>
<%= nested_messages @article.comments.arrange(:order => :created_at) %>
</div>
<%= render 'comments/form' %>
    <%= link_to 'Back', articles_path %> |
<%= link_to 'Edit', edit_article_path(@article) %>
</div>



  